:root {
  --deep-purple: #5f33e1;
  --pinch-purple: #f9f8ff;
  --light-purple: #cfc0fe;
  --white: #fff;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.backgroundContainer {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(
      210deg,
      rgba(232, 91, 91, 0.9),
      rgba(255, 255, 255, 0.4) 18.71%
    ),
    linear-gradient(
      45deg,
      rgba(172, 234, 253, 1),
      rgba(255, 255, 255, 0.1) 55.71%
    ),
    linear-gradient(
      348deg,
      rgba(255, 211, 187, 0.8) 1%,
      rgba(255, 255, 255, 0.3) 70%,
      rgba(247, 91, 250, 1) 90.71%
    );
}
.mainContainer {
  width: 95%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 34px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
}

.addTodoContainer {
  width: 30%;
  height: 858px;
  margin: 35px 10px 35px 35px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  border-radius: 34px;
  background: #fff;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
}

.titles {
  font-size: 40px;
  margin-bottom: 32px;
}
.bodyFont {
  line-height: 32px;
  font-size: 24px;
  margin-bottom: 28px;
}

.taskIllustracion {
  width: 400px;
  height: 400px;
}
input {
  height: 28px;
  border-radius: 10px;
  border: 1px solid var(--light-purple);
  margin-bottom: 40px;
  padding: 12px 12px 8px 12px;
  font-size: 18px;
  color: var(--deep-purple);
}
input:active {
  background-color: var(--pinch-purple);
  border: 1.5px solid var(--deep-purple);
}
input:hover {
  background-color: var(--pinch-purple);
  border: 2px solid var(--deep-purple);
}
input:focus {
  background-color: var(--pinch-purple);
  border: 1px solid var(--deep-purple);
}
input::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: var(--light-purple);
}
img {
  margin: 40px;
  align-self: center;
}
button {
  width: 50%;
  background-color: var(--deep-purple);
  border-radius: 10px;
  border: none;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
}
button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}
button:focus:not(:active) {
  box-shadow: rgba(155, 128, 236, 0.25) 0 0 0 0.125em;
}

.todoListContainer {
  width: 60%;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 40px 40px 40px 10px;
}
.todoContainer {
  width: 631px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  padding: 20px;
}
.TodoListUl {
  padding: 0px;
}
